<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <title>Vue.js</title>
  </head>

  <body>
    <div id="app">
      <input type="tel" name="" id="" v-model.number="telefone" />
      <div>
        <label for="">Digite o titulo da mensagem</label>
        <input type="text" v-model="title" />
      </div>
      <div>
        <label for="">Digite o destinatário</label>
        <input type="email" name="" id="" v-model="destinatario" />
      </div>
      <div><label for="">Digite a mensagem</label></div>
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        v-model="paragrafo"
      ></textarea>
      <!-- Retorna true or false -->
      <input type="checkbox" name="" id="enviarEmail" v-model="enviarEmail" />
      <label for="enviarEmail">Enviar email</label>
      <div v-show="enviarEmail == true">
        <h1 v-text="title"></h1>
        <p v-text="paragrafo"></p>
        <p>Email enviado!!!</p>
      </div>
      <div>
        <!-- Retorna o value -->
        <input type="radio" name="cor" id="azul" v-model="cor" value="azul" />
        <label for="azul">azul</label>
        <input
          type="radio"
          name="cor"
          id="vermelho"
          v-model="cor"
          value="vermelho"
        />
        <label for="vermelho">vermelho</label>
      </div>
      {{cor}}
      <div>
        <select name="" id="" v-model="fruta">
          <option value="" disabled>Selecione uma fruta</option>
          <option value="Banana">Banana</option>
          <option value="Morango">Morango</option>
          <option value="Uva">Uva</option>
          <option value="Laranja">Laranja</option>
        </select>
      </div>
      <div v-if="fruta != null">{{fruta.length}}</div>
    </div>

    <script>
      const nm = new Vue({
        el: "#app",
        data: {
          fruta: null,
          destinatario: null,
          title: "",
          paragrafo: "",
          enviarEmail: null,
          cor: null,
          telefone: null,
        },
      });
    </script>
  </body>
</html>
