<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <title>Vue.js</title>
  </head>

  <body>
    <div id="app">
      <form action="">
        <label for="cep">Digite seu cep</label>
        <input type="text" id="cep" v-model="cep" />
        <button @click.prevent="getCep">Enviar CEP</button>
      </form>
      <h1 v-if="cep !== null">
        {{dadosCep.localidade}}/{{dadosCep.uf}} - {{dadosCep.bairro}}
      </h1>
      <ul>
        <li>Logradoro: {{dadosCep.logradouro}}</li>
        <li>Complemento: {{dadosCep.complemento}}</li>
        <li>Localidade: {{dadosCep.localidade}}</li>
        <li>CEP: {{dadosCep.cep}}</li>
      </ul>
      <ul>
        <li v-for="({curso, link, aulas}, index) in cursos" :key="index">
          <div>
            <h2>{{curso}}</h2>
            <a :href="link" target="_blank" rel="noopener noreferrer"
              >{{curso}}</a
            >
            <ul>
              <li v-for="{nome, tempo} in aulas" :key="index">
                {{nome}}, {{tempo}}
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <button @click="getCursos">Mostrar Cursos</button>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          cep: null,
          dadosCep: {},
          cursos: {},
        },
        methods: {
          getCep() {
            const link = `https://viacep.com.br/ws/${this.cep}/json/`;

            const result = fetch(link)
              .then((response) => response.json())
              .then((body) => {
                this.dadosCep = body;
              });
          },
          getCursos() {
            const result = fetch("./cursos.json")
              .then((response) => response.json())
              .then((body) => {
                this.cursos = body;
              });
          },
        },
      });
    </script>
  </body>
</html>
